@model TransactionModel

<h1>Add Transactions</h1>

<form class="row g-3" method="post">
	<div class="col-md-6">
		<label class="form-label">Name</label>
		<input type="text" class="form-control" asp-for="Name" />
	</div>
	<div class="col-md-6">
		<label class="form-label">Amount</label>
		<input type="number" class="form-control" asp-for="Amount"/>
	</div>
	<div class="col-md-6">
		<label class="form-label">Category</label>
		<select id="" class="form-select" asp-for="Category">
			<option selected>Choose...</option>
		</select>
	</div>
	<div class="col-12">
		<button type="submit" class="btn btn-primary">Add</button>
	</div>
</form>