<div class="row">
	<div class="col-3">
		<div class="text">
			Filter
		</div>
	</div>
	<div class="col-9">
		<div class="row">
			<div class="text-md-start">
				Add
			</div>
			<div class="text-md-end">
				Search
			</div>
		</div>
		<div class="row">
			<div class="col">
				Transaction Name
			</div>
			<div class="col">
				Amount
			</div><div class="col">
				Category
			</div><div class="col">
				Date
			</div>
		</div>
	</div>
</div>